<p id="notice"><%= notice %></p>

<p>
  <strong>Pro name:</strong>
  <%= @professor.pro_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
