<style>
	body{
		background: url("http://sugang.deu.ac.kr:8080/Common/images/login_con_bg.jpg");	
		background-size: 100%
	}
	.logbox {
		background: white;
		width: 500px;

	}
	.logtitle {
		display: flex;
	}
</style>

<body>
	<div class="logbox">
		<div class="logtitle">
			<img src="http://sugang.deu.ac.kr:8080/Common/images/logo.png">
			<h1 style="color:#1261aa;">수강신청시스템</h1>
		</div>


		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
			<%= f.label :아이디 %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  </div>

		  <div class="field">
			<%= f.label :비밀번호 %><br />
			<%= f.password_field :password, autocomplete: "current-password" %>
		  </div>

		  <% if devise_mapping.rememberable? %>
			<div class="field">
			  <%= f.check_box :remember_me %>
			  <%= f.label :아이디저장 %>
			</div>
		  <% end %>

		  <div class="actions">
			<%= f.submit "로그인" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>	
</body>


