<!DOCTYPE html>
<html lang="ko">
<head>
	<title>GoormRailsApp</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="application.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
	  	<nav class="navtitle">
			<ul>
				<li>
					<img src="http://sugang.deu.ac.kr:8080/Common/images/logo.png" alt="동의대 수강신청시스템">
				</li>	
				
			</ul>
			<h1 class="h1title">
					2022학년도 동계계절수업 수강신청
				</h1>
			<div>
				<% if student_signed_in? %>
					<%= "#{current_student.s_name} | #{current_student.department.dep_name} | #{current_student.grade}학년" %>
				<% end %>
			</div>
		</nav>
	  <% if student_signed_in? %>
		<nav class="navbar">
			<ul class="navbar__menu">
				<li><a href="http://teamproject-wghck.run.goorm.io/">공지사항</a></li>
				<li><a href="http://teamproject-wghck.run.goorm.io/class_lists">수강신청</a></li>
				<li><a href="">학점이수현황</a></li>
				<li><a href="https://teamproject-wghck.run.goorm.io/class_statuses/78/retake">재수강신청</a></li>
				<li>
				  <% if student_signed_in? %>
					<%= link_to "로그아웃", destroy_student_session_path, method: :delete %>
				  <% else %>
					<%= link_to "로그인", student_session_path %>
					<%= link_to "회원가입", "/students/sign_up" %>
					<a href="http://sugang.deu.ac.kr:8080/Common/images/login_con_bg.jpg"></a>
				  <% end %>
				</li>
			</ul>
		</nav>
	  <% end %>
	  <div>
		  
	  </div>
	  <hr/>
	  
	  <%= yield %>
  </body>
</html>
